In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_ball_by_ball = pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
df_matches = pd.read_csv('IPL Matches 2008-2020.csv')

In [3]:
df_matches.head(3)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar

In [4]:
df_ball_by_ball.head(3)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [5]:
df_ball_by_ball.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [6]:
df_ball_by_ball.columns

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [7]:
df_ball_by_ball = df_ball_by_ball.drop(['dismissal_kind', 'player_dismissed', 'fielder', 'extras_type'],axis = 1)
df_ball_by_ball = df_ball_by_ball.dropna()
df_ball_by_ball.isnull().sum()

id              0
inning          0
over            0
ball            0
batsman         0
non_striker     0
bowler          0
batsman_runs    0
extra_runs      0
total_runs      0
non_boundary    0
is_wicket       0
batting_team    0
bowling_team    0
dtype: int64

## Sepearting the dataset teamwise

In [8]:
df_kkr = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Kolkata Knight Riders')&(df_ball_by_ball['is_wicket']==1)]
df_rcb = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Royal Challengers Bangalore')&(df_ball_by_ball['is_wicket']==1)]
df_kxip = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Kings XI Punjab')&(df_ball_by_ball['is_wicket']==1)]
df_csk = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Chennai Super Kings')&(df_ball_by_ball['is_wicket']==1)]
df_rr = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Rajasthan Royals')&(df_ball_by_ball['is_wicket']==1)]
df_mi = df_ball_by_ball[(df_ball_by_ball['batting_team']=='Mumbai Indians')&(df_ball_by_ball['is_wicket']==1)]
df_hyd = df_ball_by_ball.loc[(df_ball_by_ball['batting_team']=='Sunrisers Hyderabad') | (df_ball_by_ball['batting_team']=='Deccan Chargers')]
                           
df_del = df_ball_by_ball.loc[(df_ball_by_ball['batting_team']=='Delhi Daredevils') | (df_ball_by_ball['batting_team']=='Delhi Capitals')]

In [9]:
df_kkr.shape

(1105, 14)

In [10]:
df_hyd =  df_hyd.loc[df_hyd['is_wicket']==1]
df_del = df_del.loc[df_del['is_wicket']==1]
df_hyd.shape

(1171, 14)

In [11]:
def getsgap(df):
    return df.shape

In [12]:
df_list = [df_kkr,df_rcb,df_kxip,df_csk,df_rr,df_mi,df_hyd,df_del]
team_name = ['KKR','RCB','KXIP','CSK','RR','MI','HYD','DEL']
shape_list = []
for i in df_list:
    shape_list.append(i.shape)
    
shape_map = dict(zip(team_name,shape_list))
shape_map

{'KKR': (1105, 14),
 'RCB': (1109, 14),
 'KXIP': (1151, 14),
 'CSK': (918, 14),
 'RR': (953, 14),
 'MI': (1189, 14),
 'HYD': (1171, 14),
 'DEL': (1159, 14)}

In [13]:
df_hyd.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,batting_team,bowling_team
984,335986,1,14,3,AS Yadav,A Symonds,DJ Hussey,0,0,0,0,1,Deccan Chargers,Kolkata Knight Riders
1005,335986,1,17,4,A Symonds,SB Bangar,AB Agarkar,0,0,0,0,1,Deccan Chargers,Kolkata Knight Riders
1007,335986,1,17,6,WPUJC Vaas,SB Bangar,AB Agarkar,0,0,0,0,1,Deccan Chargers,Kolkata Knight Riders
1010,335986,1,18,3,SB Bangar,RP Singh,M Kartik,0,0,0,0,1,Deccan Chargers,Kolkata Knight Riders
1011,335986,1,18,4,RP Singh,PP Ojha,M Kartik,0,0,0,0,1,Deccan Chargers,Kolkata Knight Riders

### gives the Count of the bowler

In [14]:
def getcountplayer(df):
    player = Counter(df['bowler'])
    player = sorted(player.items(),key = lambda x:x[1],reverse = True)
    return player[:5]

### gives the map of bowler team and name

In [15]:
def formmap(df):
    player = df['bowler']
    team = df['bowling_team']
    bowler_map = dict(zip(player,team))
    
    return bowler_map

In [16]:
df_list = [df_kkr,df_rcb,df_kxip,df_csk,df_rr,df_mi,df_hyd,df_del]

### below is the count of top 5 bowlers against the team in all Seasons of IPL

In [17]:
count_kkr = getcountplayer(df_kkr)
count_rcb = getcountplayer(df_rcb)
count_kxip = getcountplayer(df_kxip)
count_csk = getcountplayer(df_csk)
count_rr = getcountplayer(df_rr)
count_mi = getcountplayer(df_mi)
count_hyd = getcountplayer(df_hyd)
count_del = getcountplayer(df_del)

In [18]:
count_kkr

[('B Kumar', 28),
 ('R Vinay Kumar', 24),
 ('SL Malinga', 23),
 ('Z Khan', 21),
 ('DJ Bravo', 21)]

In [19]:
count_hyd

[('SL Malinga', 33),
 ('DJ Bravo', 29),
 ('R Bhatia', 20),
 ('A Mishra', 20),
 ('PP Chawla', 19)]

In [20]:
count_del

[('Harbhajan Singh', 25),
 ('R Ashwin', 25),
 ('PP Chawla', 24),
 ('SL Malinga', 23),
 ('SP Narine', 23)]

### return the names of the top 5 bowlers

In [21]:
def getnamelist(names):
    name = [names[i][0] for i in range(0,len(names))]
    return name

In [22]:
hyd_players = getnamelist(count_hyd)
hyd_players

['SL Malinga', 'DJ Bravo', 'R Bhatia', 'A Mishra', 'PP Chawla']

In [23]:
df_list = [df_kkr,df_rcb,df_kxip,df_csk,df_rr,df_mi,df_hyd,df_del]

In [24]:
bowler_name_kkr = getnamelist(count_kkr)
bowler_name_rcb = getnamelist(count_rcb)
bowler_name_kxip = getnamelist(count_kxip)
bowler_name_csk = getnamelist(count_csk)
bowler_name_rr = getnamelist(count_rr)
bowler_name_mi = getnamelist(count_mi)
bowler_name_hyd = getnamelist(count_hyd)
bowler_name_del = getnamelist(count_del)

In [25]:
bowler_name_hyd

['SL Malinga', 'DJ Bravo', 'R Bhatia', 'A Mishra', 'PP Chawla']

### get the teams in which the bowler played

In [26]:
def getteam(df,name):
    player = df[df['bowler']==name]
    return player['bowling_team'].unique()

In [27]:
def teams(df,name):
    team_list = []
    for i in name:
        team_list.append(getteam(df_hyd,i))
    
    
    return team_list

In [28]:
df_list = [df_kkr,df_rcb,df_kxip,df_csk,df_rr,df_mi,df_hyd,df_del]

In [29]:
bowler_team_kkr =  teams(df_kkr,bowler_name_kkr)
bowler_team_rcb =  teams(df_rcb,bowler_name_rcb)
bowler_team_kxip = teams(df_kxip,bowler_name_kxip)
bowler_team_csk = teams(df_csk,bowler_name_csk)
bowler_team_rr =  teams(df_rr,bowler_name_rr)
bowler_team_mi =  teams(df_mi,bowler_name_mi)
bowler_team_hyd = teams(df_hyd,bowler_name_hyd)
bowler_team_del = teams(df_del,bowler_name_del)

In [30]:
bowler_team_hyd

[array(['Mumbai Indians'], dtype=object),
 array(['Mumbai Indians', 'Chennai Super Kings', 'Gujarat Lions'],
       dtype=object),
 array(['Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals'],
       dtype=object),
 array(['Delhi Daredevils', 'Delhi Capitals'], dtype=object),
 array(['Kings XI Punjab', 'Kolkata Knight Riders', 'Chennai Super Kings'],
       dtype=object)]

In [31]:
bowler_name_hyd

['SL Malinga', 'DJ Bravo', 'R Bhatia', 'A Mishra', 'PP Chawla']

In [32]:
temp = df_ball_by_ball.copy()

### Returns the Total Wickects taken by the bowler

**As i made the bowler list!!,those are the top 5 bolwers which gave tough competition to the whole team in all the 8 seasons,so for obvious if they're top5 bowlers,they'll be in one of the best bowlers of the season!!**

In [33]:
def gettotalwicket(name):
    player = temp.loc[(temp['bowler']==name) & (temp['is_wicket']==1)]
    return sum(player['is_wicket'])

In [34]:
df_list = [df_kkr,df_rcb,df_kxip,df_csk,df_rr,df_mi,df_hyd,df_del]

In [35]:
player_list = [bowler_name_kkr,bowler_name_rcb,bowler_name_kxip,bowler_name_csk,bowler_name_rr,
              bowler_name_mi,bowler_name_hyd,bowler_name_del]


total_wickets = []

player_names = []

for name in player_list:
    for i in name:
        player_names.append(i)
        total_wickets.append(gettotalwicket(i))

In [36]:
total_wicket_map = dict(zip(player_names,total_wickets))
total_wicket_map

{'B Kumar': 146,
 'R Vinay Kumar': 127,
 'SL Malinga': 188,
 'Z Khan': 119,
 'DJ Bravo': 175,
 'Harbhajan Singh': 161,
 'Sandeep Sharma': 117,
 'A Nehra': 121,
 'JJ Bumrah': 119,
 'RA Jadeja': 122,
 'SP Narine': 143,
 'UT Yadav': 137,
 'PP Ojha': 99,
 'PP Chawla': 164,
 'A Mishra': 169,
 'R Ashwin': 153,
 'MM Sharma': 100,
 'R Bhatia': 82}

In [37]:
total_wicket_map = sorted(total_wicket_map.items(),key = lambda x:x[1],reverse = True)
total_wicket_map = dict(total_wicket_map)
total_wicket_map

{'SL Malinga': 188,
 'DJ Bravo': 175,
 'A Mishra': 169,
 'PP Chawla': 164,
 'Harbhajan Singh': 161,
 'R Ashwin': 153,
 'B Kumar': 146,
 'SP Narine': 143,
 'UT Yadav': 137,
 'R Vinay Kumar': 127,
 'RA Jadeja': 122,
 'A Nehra': 121,
 'Z Khan': 119,
 'JJ Bumrah': 119,
 'Sandeep Sharma': 117,
 'MM Sharma': 100,
 'PP Ojha': 99,
 'R Bhatia': 82}

### One of the final Dataframes

In [38]:
top_bowlers = pd.DataFrame(total_wicket_map.keys(),columns=['Player_name'])
top_bowlers

        Player_name
0        SL Malinga
1          DJ Bravo
2          A Mishra
3         PP Chawla
4   Harbhajan Singh
5          R Ashwin
6           B Kumar
7         SP Narine
8          UT Yadav
9     R Vinay Kumar
10        RA Jadeja
11          A Nehra
12           Z Khan
13        JJ Bumrah
14   Sandeep Sharma
15        MM Sharma
16          PP Ojha
17         R Bhatia

In [39]:
top_bowlers['Total_wickets'] = total_wicket_map.values()
top_bowlers

        Player_name  Total_wickets
0        SL Malinga            188
1          DJ Bravo            175
2          A Mishra            169
3         PP Chawla            164
4   Harbhajan Singh            161
5          R Ashwin            153
6           B Kumar            146
7         SP Narine            143
8          UT Yadav            137
9     R Vinay Kumar            127
10        RA Jadeja            122
11          A Nehra            121
12           Z Khan            119
13        JJ Bumrah            119
14   Sandeep Sharma            117
15        MM Sharma            100
16          PP Ojha             99
17         R Bhatia             82

In [40]:
team_name = ['KKR','RCB','KXIP','CSK','RR','MI','HYD','DEL']

In [41]:
count_list = [count_kkr,count_rcb,count_kxip,count_csk,count_rr,count_mi,count_hyd,count_del]

count_list

[[('B Kumar', 28),
  ('R Vinay Kumar', 24),
  ('SL Malinga', 23),
  ('Z Khan', 21),
  ('DJ Bravo', 21)],
 [('Harbhajan Singh', 25),
  ('Sandeep Sharma', 25),
  ('A Nehra', 24),
  ('JJ Bumrah', 23),
  ('RA Jadeja', 21)],
 [('SP Narine', 31),
  ('UT Yadav', 31),
  ('SL Malinga', 27),
  ('DJ Bravo', 26),
  ('Harbhajan Singh', 24)],
 [('SL Malinga', 37),
  ('Harbhajan Singh', 24),
  ('PP Ojha', 23),
  ('PP Chawla', 19),
  ('R Vinay Kumar', 18)],
 [('A Mishra', 33),
  ('PP Chawla', 21),
  ('R Ashwin', 19),
  ('RA Jadeja', 17),
  ('DJ Bravo', 16)],
 [('DJ Bravo', 31),
  ('PP Chawla', 28),
  ('SP Narine', 24),
  ('MM Sharma', 24),
  ('R Ashwin', 22)],
 [('SL Malinga', 33),
  ('DJ Bravo', 29),
  ('R Bhatia', 20),
  ('A Mishra', 20),
  ('PP Chawla', 19)],
 [('Harbhajan Singh', 25),
  ('R Ashwin', 25),
  ('PP Chawla', 24),
  ('SL Malinga', 23),
  ('SP Narine', 23)]]

In [42]:
team_mapper_list = dict(zip(team_name,count_list))

In [43]:
team_mapper_list

{'KKR': [('B Kumar', 28),
  ('R Vinay Kumar', 24),
  ('SL Malinga', 23),
  ('Z Khan', 21),
  ('DJ Bravo', 21)],
 'RCB': [('Harbhajan Singh', 25),
  ('Sandeep Sharma', 25),
  ('A Nehra', 24),
  ('JJ Bumrah', 23),
  ('RA Jadeja', 21)],
 'KXIP': [('SP Narine', 31),
  ('UT Yadav', 31),
  ('SL Malinga', 27),
  ('DJ Bravo', 26),
  ('Harbhajan Singh', 24)],
 'CSK': [('SL Malinga', 37),
  ('Harbhajan Singh', 24),
  ('PP Ojha', 23),
  ('PP Chawla', 19),
  ('R Vinay Kumar', 18)],
 'RR': [('A Mishra', 33),
  ('PP Chawla', 21),
  ('R Ashwin', 19),
  ('RA Jadeja', 17),
  ('DJ Bravo', 16)],
 'MI': [('DJ Bravo', 31),
  ('PP Chawla', 28),
  ('SP Narine', 24),
  ('MM Sharma', 24),
  ('R Ashwin', 22)],
 'HYD': [('SL Malinga', 33),
  ('DJ Bravo', 29),
  ('R Bhatia', 20),
  ('A Mishra', 20),
  ('PP Chawla', 19)],
 'DEL': [('Harbhajan Singh', 25),
  ('R Ashwin', 25),
  ('PP Chawla', 24),
  ('SL Malinga', 23),
  ('SP Narine', 23)]}

In [44]:
team_mapper_list['KKR'][0][0]

'B Kumar'

In [45]:
top_5_bowlers = top_bowlers['Player_name'][:5]
top_5_bowlers

0         SL Malinga
1           DJ Bravo
2           A Mishra
3          PP Chawla
4    Harbhajan Singh
Name: Player_name, dtype: object

In [46]:
top_5_bowlers = np.array(top_5_bowlers)
top_5_bowlers

array(['SL Malinga', 'DJ Bravo', 'A Mishra', 'PP Chawla',
       'Harbhajan Singh'], dtype=object)

In [47]:
top_5_bowlers = top_5_bowlers.reshape(-1)
top_5_bowlers

array(['SL Malinga', 'DJ Bravo', 'A Mishra', 'PP Chawla',
       'Harbhajan Singh'], dtype=object)

In [48]:
team_mapper_list

{'KKR': [('B Kumar', 28),
  ('R Vinay Kumar', 24),
  ('SL Malinga', 23),
  ('Z Khan', 21),
  ('DJ Bravo', 21)],
 'RCB': [('Harbhajan Singh', 25),
  ('Sandeep Sharma', 25),
  ('A Nehra', 24),
  ('JJ Bumrah', 23),
  ('RA Jadeja', 21)],
 'KXIP': [('SP Narine', 31),
  ('UT Yadav', 31),
  ('SL Malinga', 27),
  ('DJ Bravo', 26),
  ('Harbhajan Singh', 24)],
 'CSK': [('SL Malinga', 37),
  ('Harbhajan Singh', 24),
  ('PP Ojha', 23),
  ('PP Chawla', 19),
  ('R Vinay Kumar', 18)],
 'RR': [('A Mishra', 33),
  ('PP Chawla', 21),
  ('R Ashwin', 19),
  ('RA Jadeja', 17),
  ('DJ Bravo', 16)],
 'MI': [('DJ Bravo', 31),
  ('PP Chawla', 28),
  ('SP Narine', 24),
  ('MM Sharma', 24),
  ('R Ashwin', 22)],
 'HYD': [('SL Malinga', 33),
  ('DJ Bravo', 29),
  ('R Bhatia', 20),
  ('A Mishra', 20),
  ('PP Chawla', 19)],
 'DEL': [('Harbhajan Singh', 25),
  ('R Ashwin', 25),
  ('PP Chawla', 24),
  ('SL Malinga', 23),
  ('SP Narine', 23)]}

In [49]:
top_bowlers_name = [top_5_bowlers[i] for i in range(0,len(top_5_bowlers))]
top_bowlers_name

['SL Malinga', 'DJ Bravo', 'A Mishra', 'PP Chawla', 'Harbhajan Singh']

In [50]:
team_mapper_list['KKR'][0][1]

28

In [51]:
team_name = ['KKR','RCB','KXIP','CSK','RR','MI','HYD','DEL']

In [52]:
team_mapper_list.keys()

dict_keys(['KKR', 'RCB', 'KXIP', 'CSK', 'RR', 'MI', 'HYD', 'DEL'])

## Retriving stats of Top players performance against each team

In [53]:
def topbowlerstats(name,team_name):
    player = temp.loc[(temp['bowler']==name) & (temp['is_wicket']==1) & (temp['batting_team']==team_name)]
    return sum(player['is_wicket'])

In [54]:
team_list = ['Kolkata Knight Riders','Royal Challengers Bangalore','Kings XI Punjab','Chennai Super Kings',
            'Rajasthan Royals','Mumbai Indians','Sunrisers Hyderabad','Deccan Chargers','Delhi Daredevils','Delhi Capitals']

In [55]:
print(topbowlerstats(top_bowlers_name[0],'Kolkata Knight Riders'))

23

In [68]:
bowlers_names = top_bowlers['Player_name']

bowlers_names = np.array(bowlers_names)

bowlers_names

array(['SL Malinga', 'DJ Bravo', 'A Mishra', 'PP Chawla',
       'Harbhajan Singh', 'R Ashwin', 'B Kumar', 'SP Narine', 'UT Yadav',
       'R Vinay Kumar', 'RA Jadeja', 'A Nehra', 'Z Khan', 'JJ Bumrah',
       'Sandeep Sharma', 'MM Sharma', 'PP Ojha', 'R Bhatia'], dtype=object)

In [70]:
bowlers_names = [bowlers_names[i] for i in range(0,len(bowlers_names))]
bowlers_names

['SL Malinga',
 'DJ Bravo',
 'A Mishra',
 'PP Chawla',
 'Harbhajan Singh',
 'R Ashwin',
 'B Kumar',
 'SP Narine',
 'UT Yadav',
 'R Vinay Kumar',
 'RA Jadeja',
 'A Nehra',
 'Z Khan',
 'JJ Bumrah',
 'Sandeep Sharma',
 'MM Sharma',
 'PP Ojha',
 'R Bhatia']

In [71]:
team_list

['Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Mumbai Indians',
 'Sunrisers Hyderabad',
 'Deccan Chargers',
 'Delhi Daredevils',
 'Delhi Capitals']

In [75]:
matrix = []
for i in range(0,len(bowlers_names)):
    subset = []
    for j in range(0,len(team_list)):
        subset.append(topbowlerstats(bowlers_names[i],team_list[j]))
    
    matrix.append(subset)

In [76]:
matrix

[[23, 15, 27, 37, 12, 0, 13, 20, 22, 1],
 [21, 19, 26, 5, 16, 31, 19, 10, 12, 7],
 [20, 15, 23, 14, 33, 21, 9, 11, 6, 0],
 [10, 19, 15, 19, 21, 28, 11, 8, 21, 3],
 [17, 25, 24, 24, 13, 2, 8, 10, 22, 3],
 [20, 17, 20, 6, 19, 22, 10, 5, 23, 2],
 [28, 18, 22, 11, 13, 18, 4, 3, 5, 8],
 [0, 16, 31, 15, 10, 24, 11, 2, 23, 0],
 [13, 14, 31, 15, 11, 16, 14, 5, 10, 1],
 [24, 6, 5, 18, 15, 15, 4, 14, 13, 0],
 [15, 21, 14, 2, 17, 15, 5, 8, 12, 6],
 [8, 24, 16, 13, 11, 20, 2, 9, 9, 0],
 [21, 13, 17, 16, 7, 10, 3, 13, 7, 0],
 [13, 23, 18, 8, 11, 0, 12, 0, 8, 12],
 [11, 25, 8, 10, 3, 18, 11, 0, 16, 4],
 [11, 7, 8, 2, 8, 24, 15, 0, 13, 0],
 [12, 13, 9, 23, 11, 9, 1, 0, 13, 0],
 [5, 3, 8, 11, 8, 14, 7, 13, 8, 0]]

In [77]:
final_player_detail = dict(zip(bowlers_names,matrix))
final_player_detail

{'SL Malinga': [23, 15, 27, 37, 12, 0, 13, 20, 22, 1],
 'DJ Bravo': [21, 19, 26, 5, 16, 31, 19, 10, 12, 7],
 'A Mishra': [20, 15, 23, 14, 33, 21, 9, 11, 6, 0],
 'PP Chawla': [10, 19, 15, 19, 21, 28, 11, 8, 21, 3],
 'Harbhajan Singh': [17, 25, 24, 24, 13, 2, 8, 10, 22, 3],
 'R Ashwin': [20, 17, 20, 6, 19, 22, 10, 5, 23, 2],
 'B Kumar': [28, 18, 22, 11, 13, 18, 4, 3, 5, 8],
 'SP Narine': [0, 16, 31, 15, 10, 24, 11, 2, 23, 0],
 'UT Yadav': [13, 14, 31, 15, 11, 16, 14, 5, 10, 1],
 'R Vinay Kumar': [24, 6, 5, 18, 15, 15, 4, 14, 13, 0],
 'RA Jadeja': [15, 21, 14, 2, 17, 15, 5, 8, 12, 6],
 'A Nehra': [8, 24, 16, 13, 11, 20, 2, 9, 9, 0],
 'Z Khan': [21, 13, 17, 16, 7, 10, 3, 13, 7, 0],
 'JJ Bumrah': [13, 23, 18, 8, 11, 0, 12, 0, 8, 12],
 'Sandeep Sharma': [11, 25, 8, 10, 3, 18, 11, 0, 16, 4],
 'MM Sharma': [11, 7, 8, 2, 8, 24, 15, 0, 13, 0],
 'PP Ojha': [12, 13, 9, 23, 11, 9, 1, 0, 13, 0],
 'R Bhatia': [5, 3, 8, 11, 8, 14, 7, 13, 8, 0]}

In [78]:
df_top_bowlers = pd.DataFrame(final_player_detail)
df_top_bowlers

,SL Malinga,DJ Bravo,A Mishra,PP Chawla,Harbhajan Singh,R Ashwin,B Kumar,SP Narine,UT Yadav,R Vinay Kumar,RA Jadeja,A Nehra,Z Khan,JJ Bumrah,Sandeep Sharma,MM Sharma,PP Ojha,R Bhatia
0,23,21,20,10,17,20,28,0,13,24,15,8,21,13,11,11,12,5
1,15,19,15,19,25,17,18,16,14,6,21,24,13,23,25,7,13,3
2,27,26,23,15,24,20,22,31,31,5,14,16,17,18,8,8,9,8
3,37,5,14,19,24,6,11,15,15,18,2,13,16,8,10,2,23,11
4,12,16,33,21,13,19,13,10,11,15,17,11,7,11,3,8,11,8
5,0,31,21,28,2,22,18,24,16,15,15,20,10,0,18,24,9,14
6,13,19,9,11,8,10,4,11,14,4,5,2,3,12,11,15,1,7
7,20,10,11,8,10,5,3,2,5,14,8,9,13,0,0,0,0,13
8,22,12,6,21,22,23,5,23,10,13,12,9,7,8,16,13,13,8
9,1,7,0,3,3,2,8,0,1,0,6,0,0,12,4,0,0,0

### Transpose of the matrix

In [79]:
df_top_bowlers = df_top_bowlers.T
df_top_bowlers

                  0   1   2   3   4   5   6   7   8   9
SL Malinga       23  15  27  37  12   0  13  20  22   1
DJ Bravo         21  19  26   5  16  31  19  10  12   7
A Mishra         20  15  23  14  33  21   9  11   6   0
PP Chawla        10  19  15  19  21  28  11   8  21   3
Harbhajan Singh  17  25  24  24  13   2   8  10  22   3
R Ashwin         20  17  20   6  19  22  10   5  23   2
B Kumar          28  18  22  11  13  18   4   3   5   8
SP Narine         0  16  31  15  10  24  11   2  23   0
UT Yadav         13  14  31  15  11  16  14   5  10   1
R Vinay Kumar    24   6   5  18  15  15   4  14  13   0
RA Jadeja        15  21  14   2  17  15   5   8  12   6
A Nehra           8  24  16  13  11  20   2   9   9   0
Z Khan           21  13  17  16   7  10   3  13   7   0
JJ Bumrah        13  23  18   8  11   0  12   0   8  12
Sandeep Sharma   11  25   8  10   3  18  11   0  16   4
MM Sharma        11   7   8   2   8  24  15   0  13   0
PP Ojha          12  13   9  23  11   9   1   0  13   0
R Bhatia          5   3   8  11   8  14   7  13   8   0

In [80]:
df_top_bowlers.columns = team_list

,Kolkata Knight Riders,Royal Challengers Bangalore,Kings XI Punjab,Chennai Super Kings,Rajasthan Royals,Mumbai Indians,Sunrisers Hyderabad,Deccan Chargers,Delhi Daredevils,Delhi Capitals
SL Malinga,23,15,27,37,12,0,13,20,22,1
DJ Bravo,21,19,26,5,16,31,19,10,12,7
A Mishra,20,15,23,14,33,21,9,11,6,0
PP Chawla,10,19,15,19,21,28,11,8,21,3
Harbhajan Singh,17,25,24,24,13,2,8,10,22,3
R Ashwin,20,17,20,6,19,22,10,5,23,2
B Kumar,28,18,22,11,13,18,4,3,5,8
SP Narine,0,16,31,15,10,24,11,2,23,0
UT Yadav,13,14,31,15,11,16,14,5,10,1
R Vinay Kumar,24,6,5,18,15,15,4,14,13,0
RA Jadeja,15,21,14,2,17,15,5,8,12,6
A Nehra,8,24,16,13,11,20,2,9,9,0
Z Khan,21,13,17,16,7,10,3,13,7,0
JJ Bumrah,13,23,18,8,11,0,12,0,8,12
Sandeep Sharma,11,25,8,10,3,18,11,0,16,4
MM Sharma,11,7,8,2,8,24,15,0,13,0
PP Ojha,12,13,9,23,11,9,1,0,13,0
R Bhatia,5,3,8,11,8,14,7,13,8,0

In [83]:
df_top_bowlers = df_top_bowlers.drop(['Total_wickets'],axis = 1)

,Kolkata Knight Riders,Royal Challengers Bangalore,Kings XI Punjab,Chennai Super Kings,Rajasthan Royals,Mumbai Indians,Sunrisers Hyderabad,Deccan Chargers,Delhi Daredevils,Delhi Capitals
SL Malinga,23,15,27,37,12,0,13,20,22,1
DJ Bravo,21,19,26,5,16,31,19,10,12,7
A Mishra,20,15,23,14,33,21,9,11,6,0
PP Chawla,10,19,15,19,21,28,11,8,21,3
Harbhajan Singh,17,25,24,24,13,2,8,10,22,3
R Ashwin,20,17,20,6,19,22,10,5,23,2
B Kumar,28,18,22,11,13,18,4,3,5,8
SP Narine,0,16,31,15,10,24,11,2,23,0
UT Yadav,13,14,31,15,11,16,14,5,10,1
R Vinay Kumar,24,6,5,18,15,15,4,14,13,0
RA Jadeja,15,21,14,2,17,15,5,8,12,6
A Nehra,8,24,16,13,11,20,2,9,9,0
Z Khan,21,13,17,16,7,10,3,13,7,0
JJ Bumrah,13,23,18,8,11,0,12,0,8,12
Sandeep Sharma,11,25,8,10,3,18,11,0,16,4
MM Sharma,11,7,8,2,8,24,15,0,13,0
PP Ojha,12,13,9,23,11,9,1,0,13,0
R Bhatia,5,3,8,11,8,14,7,13,8,0

In [84]:
wickets = top_bowlers['Total_wickets']

wickets = np.array(wickets)

df_top_bowlers['Total Wickets'] = wickets

df_top_bowlers

,Kolkata Knight Riders,Royal Challengers Bangalore,Kings XI Punjab,Chennai Super Kings,Rajasthan Royals,Mumbai Indians,Sunrisers Hyderabad,Deccan Chargers,Delhi Daredevils,Delhi Capitals,Total Wickets
SL Malinga,23,15,27,37,12,0,13,20,22,1,188
DJ Bravo,21,19,26,5,16,31,19,10,12,7,175
A Mishra,20,15,23,14,33,21,9,11,6,0,169
PP Chawla,10,19,15,19,21,28,11,8,21,3,164
Harbhajan Singh,17,25,24,24,13,2,8,10,22,3,161
R Ashwin,20,17,20,6,19,22,10,5,23,2,153
B Kumar,28,18,22,11,13,18,4,3,5,8,146
SP Narine,0,16,31,15,10,24,11,2,23,0,143
UT Yadav,13,14,31,15,11,16,14,5,10,1,137
R Vinay Kumar,24,6,5,18,15,15,4,14,13,0,127
RA Jadeja,15,21,14,2,17,15,5,8,12,6,122
A Nehra,8,24,16,13,11,20,2,9,9,0,121
Z Khan,21,13,17,16,7,10,3,13,7,0,119
JJ Bumrah,13,23,18,8,11,0,12,0,8,12,119
Sandeep Sharma,11,25,8,10,3,18,11,0,16,4,117
MM Sharma,11,7,8,2,8,24,15,0,13,0,100
PP Ojha,12,13,9,23,11,9,1,0,13,0,99
R Bhatia,5,3,8,11,8,14,7,13,8,0,82

In [86]:
df_top_bowlers.to_csv("Top Performing Bowlers.csv")